<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="fragment-config">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
<!--    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>-->
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <th:block layout:fragment="script"></th:block>
</head>
</html>