<!DOCTYPE html>
<html lang="'ko"
      xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="fragment-footer" id="footer">
    <div class="col-lg-12" style="user-select: auto;">
        <ul class="list-unstyled" style="user-select: auto;">
<!--            TODO : Footer 링크 수정-->
            <li class="float-end" style="user-select: auto;"><a href="#top" style="user-select: auto;">Back to top</a></li>
            <li style="user-select: auto;"><a href="https://blog.bootswatch.com/" style="user-select: auto;">Email</a></li>
            <li style="user-select: auto;"><a href="https://instagram.com/" style="user-select: auto;">Instagram</a></li>
            <!--            <li style="user-select: auto;"><a href="https://github.com/" style="user-select: auto;">GitHub</a></li>-->
        </ul>
        <p style="user-select: auto;">Made by <a href="" style="user-select: auto;">Chaewon Park & Yerin Shin.</a></p>
    </div>
</footer>
</html>