html,body {width:100%;margin:0px;padding:0px;overflow-x: hidden;}
.character_intro{
    margin:5% 10% 5% 10%;
    text-align: center;
    font-size: 1em;
    word-break: break-word;
    padding:3em;
}
h2{
    text-align: center;
    padding:1%;
}
div#toggle{
    width:75%;
    cursor:pointer;
    margin:0 auto;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.select-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5DAFB2;
}
ul#slideToggleBox{
    width:100%;
    display: none;
    padding:5px;
    border:1px solid #ddd;
}
#toggle #slideToggleBox > li{
    float:left;
    width:calc(100%/4);
    margin:8px 0;

}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.list_wrap {
    max-width: 100%;
    margin: 0 auto;
    padding: 5% 5% 5% 5%;
    justify-content: center;
    overflow:hidden;
}

.list_wrap ul {
    font-size: 0;
}
.gallery{
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery:after{content:"";display:block;clear:both;visibility: hidden;}
.gallery li{
    width:20%;
    float:left;
    box-sizing:border-box;
    margin:2% 2% 1% 0;
    display: inline-block;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);}
.gallery li img{width:100%;height:auto;}
.list_wrap .item .image {
    width: 100%;
    height: 160px;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.list_wrap .item .cont {
    padding: 20px;
}
.list_wrap .item strong {
    display: block;
    margin: 0 0 10px 0;
    font-size: 16px;
    letter-spacing: -1px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;

}
.list_wrap .item p {
    font-size: 13px;
    letter-spacing: -1px;
}
.list_wrap .item a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #eee;
    font-size: 13px;
    letter-spacing: -1px;
}
.list_wrap .item a:hover {
    background: #5DAFB2;
    color: #fff;
}
.list_wrap{width:100%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    overflow:hidden;}

@media screen and (max-width:1799px){
    html{ font-size: 20px }
    .list_wrap .gallery li{width:25%;}
    .list_wrap .item strong {
        display: block;
        margin: 0 0 10px 0;
        font-size: 16px;
        letter-spacing: -1px;
    }
    .list_wrap .item p {
        font-size: 13px;
        letter-spacing: -1px;
    }
    .list_wrap .item a {
        display: inline-block;
        margin-top: 10px;
        padding: 5px 10px;
        background: #eee;
        font-size: 13px;
        letter-spacing: -1px;
    }

}
@media (max-width:768px){ .list_wrap .gallery li{width:33.33333%;} }
@media (max-width:560px){ .list_wrap .gallery li{width:50%;} }
@media (max-width:480px){
    .list_wrap .gallery li{width:100%;}
    html{
        font-size:10px;
    }
    .list_wrap .item strong {
        display: block;
        margin: 0 0 10px 0;
        font-size: 13px;
        letter-spacing: -1px;
    }
    .list_wrap .item p {
        font-size: 10px;
        letter-spacing: -1px;
    }
    .list_wrap .item a {
        display: inline-block;
        margin-top: 10px;
        padding: 5px 10px;
        background: #eee;
        font-size: 10px;
        letter-spacing: -1px;
    }
}
