/* 탭 스타일 */
.tab_item {
    margin-top:1em;
    width: calc(100%/4);
    height: 2em;
    line-height: 2em;
    font-size: 1.2rem;
    text-align: center;
    color: #333333;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}
.tab_item:hover {
    opacity: 0.75;
}

/* 라디오 버튼 UI삭제*/
input[name="tab_item"] {
    display: none;
}

/* 탭 컨텐츠 스타일 */
.tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
}


/* 선택 된 탭 콘텐츠를 표시 */
#character:checked ~ #character_content,
#region:checked ~ #region_content
{
    display: block;
}

/* 선택된 탭 스타일 */
.tabs input:checked + .tab_item .half_hl {
    background: linear-gradient(to top, #00CCC1 50%, transparent 50%);
}

.character_img{
    /*width: 300px;*/
    min-height:6em;
    max-height: 10em;
}
.character-item{
    clear:both;
    margin:3em;
    padding:2em;
    border: dashed;
    border-radius: 2em;
    border-width:thin;
    flex:1 1 20%;
    width: 50%;
    min-height: 27em;
}
h3{
    color: #5DAFB2;
}
hr{
    color: #5DAFB2 !important;
}
/* 아이폰에서 오류 방지 */
/*area {*/
/*    display: "block";*/
/*}*/
/*.first > .second > img{*/
/*    width:100%;*/
/*    height:100%;*/
/*}*/

.swiper-container {
    height:420px;
    border:5px solid silver;
    border-radius:7px;
    box-shadow:0 0 20px #ccc inset;
}
.swiper-slide {
    text-align:center;
    align-items:center; /* 위아래 기준 중앙정렬 */
    justify-content:center; /* 좌우 기준 중앙정렬 */
    display: flex;
    flex-wrap: wrap;
}
.swiper-slide img {
    max-width:100%; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
    /* 이 예제에서 필요해서 설정했습니다. 상황에따라 다를 수 있습니다. */
}
/*@media screen and (max-width:1799px){*/
/*    .character-item{*/
/*        flex: 1 1 20%;*/
/*        width:50%*/
/*    }*/
/*}*/
/*@media (max-width:768px){*/
/*    .character-item{*/
/*        flex: 1 1 20%;*/
/*        width:50%*/
/*} }*/
/*@media (max-width:560px){ .list_wrap .gallery li{width:50%;} }*/