/* 탭 스타일 */
.tab_item {
    width: calc(100%/4);
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    color: #333333;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}
.tab_item:hover {
    opacity: 0.75;
}

/* 라디오 버튼 UI삭제*/
input[name="tab_item"] {
    display: none;
}

/* 탭 컨텐츠 스타일 */
.tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
}


/* 선택 된 탭 콘텐츠를 표시 */
#character:checked ~ #character_content,
#region:checked ~ #region_content
{
    display: block;
}

/* 선택된 탭 스타일 */
.tabs input:checked + .tab_item .half_hl {
    background: linear-gradient(to top, #00CCC1 50%, transparent 50%);
}

ul {
    list-style:none;
}
.character_img{
    float:left;
    width: 300px;
}