.content{
    padding-left:5%;
    padding-right:5%;
    text-align: center;
    background-image: url("/img/explore/sandybeach.png");
    background-repeat: repeat-x;
    background-position:center bottom;
    background-attachment: fixed;
    background-size: 100% auto;
}
/* 이미지 설정 */
.intro{
    object-position: 50% 50%;
    object-fit:cover;
    display: block;
    border:0;
    margin: 0;
    padding: 0;
    width:100%;
    height:40vh;
    margin-bottom: auto;
}
.logo{
    display: block;
    margin: 0px auto;
    width : 20%;
    height : 10%;
    padding : 2em;
}
.with_img img{
    width: 45%;
    height: 45%;
    vertical-align: middle;
}
img.left{
    float:left;
    margin: auto;
}
img.right{
    float:right;
    margin:auto;
}

strong{
    color:#5DAFB2;
}
/* flex 정렬 설정 */
.with_img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.description{
    flex-direction: column;
    font-size: 100%;
}
h2{
    margin-bottom: 2em;
}
p{
    word-break: keep-all;

}

@media screen and (max-width:1799px) {
    /* 데스트 탑 */
    html{
        font-size:28px;
    }
    body{
        background-size:100% 60%
    }
    .description{
        flex-direction: column;
        font-size: 28px;
    }
}

@media screen and (max-width:599px) {
    /* 모바일 세로 */
    html{
        font-size:10px;
    }
    body{
        background-size:100% 50%;
    }
    /*img{*/
    /*    max-width:70%;*/
    /*    height: auto*/
    /*}*/

}