h2{
    padding:2%;
}
div#gallery{
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.top{
    background-image: url("/img/travelPage/여행페이지배경.svg");
    background-repeat: no-repeat;
}
.title {
   text-align: center;
}
.photo{
    border-radius: 3px;
    width: 25rem;
    margin:1.66%;
}
