body{
    background-image: url("/img/travelPage/여행페이지배경.svg");
    background-repeat: no-repeat;
    background-size:cover;
    text-align:center;
}
#q1{
    text-align:center;
    font-size:1rem
}
#q2{
    text-align:center;
    font-size:2rem
}
.select_btn{
    background-color: #FFFFFF;
    outline: 0;
    border: 0;
    display:block;
    margin: auto;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    font-size:1rem;
    border-radius:1.5rem;
}


@media screen and (max-width:3000px) {
 /* 데스트 탑 */
    html{
        font-size:20px;
    }
   #wrapper1{
    width:1200px;
    height:500px;
    display:inline-block;
   }

    .select_btn{
        padding: 20px 70px 20px 70px;
    }

     #q1{
         padding-top:100px;
     }
     #q2{
        padding-bottom:30px;
     }
}

@media screen and (max-width:599px) {
/* 모바일 세로 */
    html{
        font-size:10px;
    }
    #wrapper1{
         width:400px;
         height:300px;
    }
    .select_btn{
         padding: 10px 35px 10px 35px;
    }
    #q1{
        padding-top:50px;
    }
    #q2{
         padding-bottom:30px;
    }
}
