<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${character.characterName}+'에게 찰떡인 여행지'"></title>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <div th:replace="/fragments/config.html :: fragment-config"></div>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/characterSpot.css">
    <script th:src="@{/js/characterSpot.js}"></script>
</head>
<body>
    <div th:replace="/fragments/navbar.html :: fragment-navbar"></div>
    <div class="character_intro" style="border:dashed; border-radius:20px">
        <img class="character_img" th:src="|/img/characterBg/${character.characterId}.png|">
        <h2 th:text="${character.characterName}"></h2>
        <span class="description" th:text="${character.moredescription}"></span>
    </div>
    <div id="toggle">다른 캐릭터 보기
        <div class="select-box">
            <ul id="slideToggleBox">
                <li th:each="charac : ${characterList}">
                    <a th:href="@{/explore/character/{id}(id=${charac.characterId})}"><span th:text="${charac.characterName}"></span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="list_wrap">
        <ul class="gallery">
            <li class="item" th:each="spot : ${spotList}">
                <div class="image" th:style="'background-image:url('+${spot.firstimage}+');'">사진</div>
                <div class="cont">
                    <strong th:text="${spot.title}"></strong>
<!--                        TODO 상세보기 api 요청 링크-->
                    <a th:href="@{explore/details/${spot.contentid}}">보러가기</a>
                </div>
            </li>
        </ul>
    </div>
    <footer th:replace="/fragments/footer.html :: fragment-footer"></footer>
    </body>
</html>