<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>마치 :: 당신이 떠난 여행</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <div th:replace="/fragments/header.html :: fragment-header"></div>
  <div th:replace="/fragments/config.html :: fragment-config"></div>
  <link rel="stylesheet" type="text/css" href="/css/myTravelInTheArea.css"/>
  <script src="/js/myTravelInTheArea.js"></script>
</head>
<body>
<div th:replace="/fragments/navbar.html :: fragment-navbar"></div>
<div class="top">
  <h2 style="text-align: center;">다시 여행 떠나기</h2>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" th:each="image :${imageList}">
        <img class="photo" th:src="${image}"/>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
<footer th:replace="/fragments/footer.html :: fragment-footer"></footer>
</body>
</html>