<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>마치 :: 당신이 떠난 여행</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <div th:replace="fragments/header.html :: fragment-header"></div>
  <div th:replace="fragments/config.html :: fragment-config"></div>
  <link rel="stylesheet" type="text/css" href="/css/myTravelInTheArea.css"/>
</head>
<body>
<div th:replace="fragments/navbar.html :: fragment-navbar"></div>
<div class="top">
  <h1 class="title"  th:text="|${areaName}로 다시 여행 떠나기|"></h1>
    <div id="gallery">
      <th:block th:each="image :${imageList}">
          <img class="photo" th:src="${image}" th:attrappend="data-image=${image}"/>
      </th:block>
  </div>
</div>
<footer th:replace="fragments/footer.html :: fragment-footer"></footer>
</body>
</html>