<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <div th:replace="/fragments/config.html :: fragment-config"></div>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<footer th:replace="/fragments/footer.html :: fragment-footer"></footer>
</body>
</html>