<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>home</title>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <div th:replace="/fragments/config.html :: fragment-config"></div>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/testPage.css">
    <script src="/js/testPage.js" defer></script>
</head>
<body>
<div th:replace="/fragments/navbar.html :: fragment-navbar"></div>
<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" style="text-align:center;">
            <img src="img/travelPage/진행상태1.svg" alt="테스트순서"><br>
            <img src="img/테스트질문.svg" alt="테스트답변1"><br>
            <img src="img/테스트답변1.svg" id="n1" alt="테스트답변1"><br>
            <img src="img/테스트답변2.svg" id="n2" alt="테스트답변2">
        </div>
        <div class="swiper-slide" style="text-align:center;">
            <img src="img/travelPage/진행상태2.svg" alt="테스트순서"><br>
            <img src="img/테스트질문.svg" alt="테스트답변1">
            <img src="img/테스트답변1.svg" id="n3" alt="테스트답변1"><br>
            <img src="img/테스트답변2.svg" id="n4" alt="테스트답변2">
        </div>
        <div class="swiper-slide" style="text-align:center;">
            <img src="img/travelPage/진행상태3.svg" alt="테스트순서"><br>
            <img src="img/테스트질문.svg" alt="테스트답변1">
            <img src="img/테스트답변1.svg" id="n5" alt="테스트답변1"><br>
            <img src="img/테스트답변2.svg" id="n6" alt="테스트답변2">
        </div>
        <div class="swiper-slide" style="text-align:center;">
            <img src="img/travelPage/진행상태4.svg" alt="테스트순서"><br>
            <img src="img/테스트질문.svg" alt="테스트답변1">
            <img src="img/테스트답변1.svg" id="n7" alt="테스트답변1"><br>
            <img src="img/테스트답변2.svg" id="n8" alt="테스트답변2">
        </div>
        <div class="swiper-slide" style="text-align:center;">
            <button class="select_btn" type="button" th:onclick="|location.href='@{/testResult}'|">결과 확인하기</button>
        </div>
    </div>
</div>
</body>
<footer th:replace="/fragments/footer.html :: fragment-footer"></footer>
</html>
