<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>testResult</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/testResult.css">
    <script src="/js/testResult.js" defer></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="user-select: auto;">
    <div class="container-fluid" style="user-select: auto;">
        <a class="navbar-brand" href="#" style="user-select: auto;">마치  <small class="text-muted" style="user-select: auto;">Match</small></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="user-select: auto;">
            <span class="navbar-toggler-icon" style="user-select: auto;"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03" style="user-select: auto;">
            <ul class="navbar-nav me-auto" style="user-select: auto;">
                <li class="nav-item" style="user-select: auto;">
                    <a class="nav-link active" href="#" style="user-select: auto;">마치 소개</a>
                </li>
                <li class="nav-item" style="user-select: auto;">
                    <a class="nav-link" href="#" style="user-select: auto;">여행하기</a>
                </li>
                <li class="nav-item dropdown" style="user-select: auto;">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true" style="user-select: auto;">여행코스</a>
                    <div class="dropdown-menu" style="user-select: auto;">
                        <a class="dropdown-item" href="#" style="user-select: auto;">캐릭터별</a>
                        <a class="dropdown-item" href="#" style="user-select: auto;">지역별</a>
                    </div>
                </li>
                <li class="nav-item" style="user-select: auto;">
                    <a class="nav-link" href="#" style="user-select: auto;">나의 여행</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <div class="container1">
        <div class="top1">
            <h2>당신의 여행 타입은</h2>
            <p>용감한 탐험가</p>
            <img src="img/testResult/유형1.png" alt="테스트순서"><br>
            <p>야생/캠핑을 좋아하는 탐험가 스타일입니다.<br>
                도전적인 정신으로 모험을 두려워하지 않네요!<br>
                대표적인 추천 여행지로는 도봉산, 와룡산,줄포산 갯벌 생태공원입니다.
            </p>
        </div>
        <div class="bottom2">
            <div class="left">
                <p>용감한 탐험가 님과</p>
                <p>잘 맞는 타입</p>
                <img src="img/testResult/유형2.png" alt="테스트순서"><br>
                <p>자연 친화 지식인</p>
            </div>
            <div class="right">
                <p>용감한 탐험가 님과</p>
                <p>잘 안 맞는 타입</p>
                <img src="img/testResult/유형3.png" alt="테스트순서"><br>
                <p>물아 일체 자연인</p>
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="top2">
            <p>당신을 위한 추천 여행지</p>
                지도자리
        </div>
        <div class="bottom2">
            <p>선택 코스</p>
        </div>
    </div>
</main>
</body>
</html>